
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.planet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.planet-image {
    border-radius: 50%; /* Make the image circular */
    max-width: 100%; /* Ensure image doesn't exceed its container's width */
}

.planet-details {
    text-align: center;
}

/* Define styles for different planet sizes */
.planet-card.small {
    width: 20%; /* Set a fixed width for small planets */
}

.planet-card.medium {
    width: 40%; /* Set a fixed width for medium planets */
}

.planet-card.large {
    width: 60%; /* Set a fixed width for large planets */
}

/* Mobile-first styles */
@media screen and (min-width: 375px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center items horizontally on small screens */
    }

    nav ul li {
        margin: 10px 0; /* Add spacing between items on small screens */
    }
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Align items horizontally on larger screens */
        justify-content: flex-end; /* Move items to the right on larger screens */
    }

    nav ul li {
        margin: 0; /* Reset margin for larger screens */
    }
    .planet-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .planet-image {
        margin-right: 20px;
    }
}